.gameboard {
  background-image: url("./images/Game-Background.png");
  background-repeat: no-repeat;
  /* background-size: cover; */
  width: 1365px;
  height: 768px;
}

.no-touch-scroll {
  touch-action: none
}

.camel {
  position: absolute;
  width: 110px;
  height: 118px;
  cursor: grab;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.camel-rank {
  position: absolute;
}
.camel-rank-right-0 {
  top: 50px;
  left: 25px;
}
.camel-rank-right-2 {
  top: 55px;
  left: 40px;
}
.camel-rank-left-1 {
  top: 50px;
  left: 60px;
}
.camel-rank-left-3 {
  top: 55px;
  left: 45px;
}

.tile,
.track-tile {
  position: absolute;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.track-tile {
  width: 105px;
  height: 105px;
  transform: rotate(-45deg) skew(20deg, 20deg) translate(25px, -15px);
  /* background: lightblue; */
}

.track-tile img {
  transform: skew(-20deg, -20deg) rotate(45deg) scale(1.5) translate(4px, 8px);
}