@font-face {
  font-family: Vollkorn;
  src: url("./fonts/Vollkorn-Bold.ttf");
  font-weight: bold;
}

body {
  font-family: Vollkorn;
  color: #623b19;
}

.gameboard {
  background-image: url("./images/Game-Background.png");
  background-repeat: no-repeat;
  /* background-size: cover; */
  width: 1365px;
  height: 768px;
}
.gameboard-top {
  height: 28px;
  width: 1365px;
  background-image: url("./images/Border-Top.png");
}

.gameboard-bottom {
  height: 14px;
  width: 1365px;
  position: absolute;
  top: 765px;
  background-image: url("./images/Border-Bottom.png");
}
.gameboard-dice-bar {
  position: absolute;
  top: 719px;
  left: 542.5px;
  width: 280px;
  height: 59px;
  z-index: 10;
  background-image: url("./images/Dice-Bar.png");
}

.gameboard-dice-bar-hitbox {
  height: 45px;
  width: 45px;
  display: inline-block;
  top: 10px;
  left: 15px;
  position: relative;
  margin-right: 5px;
}

.gameboard-dice-bar-hitbox:hover {
  cursor: pointer;
}

.gameboard-dice-bar-hitbox img {
  height: 45px;
  width: 45px;
  opacity: 0.45;
}

.gameboard-dice-bar-hitbox img.rolled {
  opacity: 1;
}

.scoreboard-row {
  display: flex;
  align-items: center;
}

.scoreboard-row__place,
.scoreboard-row__probability {
  flex: auto;
}

.scoreboard-row__place {
  padding-left: 1em;
}

.scoreboard-row.first-place .scoreboard-row__place {
  padding-left: 2em;
}

.scoreboard-row.first-place .scoreboard-row__camel-icon {
  padding-right: 18px;
}

.scoreboard-row__camel-icon {
  height: 42px;
  width: 52px;
  flex-grow: 0;
  float: auto;
}

.scoreboard-row.first-place {
  font-size: 24px;
  height: 87px;
  width: 302px;
  background-image: url("./images/Active-Player-Box.png");
}

.scoreboard-row.not-first-place {
  height: 31px;
  width: 215px;
  background-image: url("./images/Player-Box.png");
  margin-left: 8px;
}

.no-touch-scroll {
  touch-action: none
}

.no-select {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

.camel {
  position: absolute;
  width: 110px;
  height: 118px;
  cursor: grab;
}
.camel-rank {
  position: absolute;
}
.camel-rank-right-0 {
  top: 50px;
  left: 25px;
}
.camel-rank-right-2 {
  top: 55px;
  left: 40px;
}
.camel-rank-left-1 {
  top: 50px;
  left: 60px;
}
.camel-rank-left-3 {
  top: 55px;
  left: 45px;
}

.desert-tile,
.track-tile {
  position: absolute;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.desert-tile {
  z-index: 1;
}

.track-tile {
  width: 105px;
  height: 105px;
  transform: rotate(-45deg) skew(20deg, 20deg) translate(25px, -15px);
  /* background: lightblue; */
}

.track-tile img {
  transform: skew(-20deg, -20deg) rotate(45deg) scale(1.5) translate(4px, 8px);
}